@use "reset";
@use "variables" as var;
@use "mixins" as mix;

.container {
  background: url(../assets/negative-space-black-forest-dawn.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  color: var.$primary;

  nav {
    display: flex;
    justify-content: flex-end;

    ul {
      text-decoration: none;
      list-style: none;
      border-bottom-style: none;

      a:link {
        color: var.$primary;
        text-decoration: none;
      }
      a:visited {
        color: var.$primary;
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 130px;

    h3,
    p {
      padding: 13px;
    }

    .container-icon {
      @include mix.paddingicon;

      i {
        @include mix.icon;
      }
    }
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
